<a href='/users/<%=session[:user_id]%>'>Home</a> 
<h1>Update this project</h1>
<form action="/projects/<%=@project.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  Project Idea Name: <input type="text" value="<%=@project.name%>" name="name">
  <br>
  On a scale from 1-10:
  <br>
  How comfortable are you with your current skillset making your project idea a reality? <input type= "number" id="comfort" value="<%=@project.comfort%>" name="comfort">
  <br>
   How excited are you about your project idea?<input type= "number" id="passion" value="<%=@project.passion%>" name="passion">
  <br>
   How sure are you that you'll turn your idea into a reality by your project deadline? <input type= "number" id="deadline"value="<%=@project.deadline%>" name="deadline">
   <br>
   Give a brief description of your project. 
   <br>
   <textarea name="description" cols="40" rows="5"  id="description" value="<%=@project.description%>"></textarea>
   <br>
   <input type="submit">
   <br>
   <input type="hidden" name="rating">
   <br>
   
 </form>