<h1>Your Projects</h1>
<a href='/users/<%=session[:user_id]%>'>Home</a>

<br>
<br>
<% @projects.each do |project| %>

Project Name:<%=project.name%>
<br>
Project Type: <%=project.project_type%>
<br>
Project Rating:<%=project.rating%>/30
<br>
Project Description: <%=project.description%>
<br>
Project created on:  <%=project.created_at%>
<br>
Project updated on: <%=project.updated_at%>
<br>

<a href='/projects/<%=project.id%>'>View</a> <a href='/projects/<%=project.id%>/edit'>Edit</a>  
<form method="post" action="/projects/<%=project.id%>">
<input id= "hidden" type="hidden" name="_method" value="DELETE">
  <input type = "submit" value="Delete ">
  </form>
<br>

<%end%>
<form method="post" action="/projects">
<input id= "hidden" type="hidden" name="_method" value="DELETE">
  <input type = "submit" value="Delete All ">
  </form>



