<h1>Your Projects</h1>
<a href='/users/<%=session[:user_id]%>'>Home</a>

<br>
<br>
<% @projects.each do |project| %>

Project Name:<%=project.name%>
<br>
Project Rating:<%=project.rating%>
<br>
Project Description: <%=project.description%>
<br>

<a href='/projects/<%=project.id%>'>View</a> <a href='/projects/<%=project.id%>/edit'>Edit</a>  
<form method="post" action="/projects/<%=project.id%>">
<input id= "hidden" type="hidden" name="_method" value="DELETE">
  <input type = "submit" value="Delete ">
  </form>
<br>
<%end%>
<br>


