<a href='/users/<%=session[:user_id]%>'>Home</a> 
<br>
<br>
*Required fields
<h1>Create a new Project Idea</h1>
<form action="/projects" method="POST">
*Project Idea Name: <input type="text" name="name" autocomplete="off">
  <br>
  *Project Type: <select id="project_type" name="project_type">
  <option value="CLI">CLI</option>
  <option value="Sinatra">Sinatra</option>
  <option value="Ruby on rails">Ruby on rails</option>
  <option value="Ruby on rails with jQuery">Ruby on rails with jQuery</option>
  <option value="React redux">React Redux</option>
  <option value="Other">Other</option>
</select>
  <br>
  <br>
  
  On a scale from 1-10:
  <br>
  *How comfortable are you with your current skillset making your project idea a reality?  <select name="comfort" >
                <option/>
                <% (1..10).each do |num| %>                    
                    <option value=<%= num %>>
                        <%= num %>
                    </option>                
                <% end %>
            </select>
  <br>
   *How excited are you about your project idea? <select name="passion">
       <option/>
                <% (1..10).each do |num| %>                    
                    <option value=<%= num %>>
                        <%= num %>
                    </option>                
                <% end %>
            </select>
  <br>
   *How sure are you that you'll turn your idea into a reality by your project deadline? <select name = "deadline" >
       <option/>
                <% (1..10).each do |num| %>                    
                    <option value=<%= num %>>
                        <%= num %>
                    </option>                
                <% end %>
            </select>
   <br>
   * Give a brief description of your project.
    <br>
    <textarea name="description" cols="40" rows="5"></textarea> 

    <br>
   <input type="hidden" name="rating">
   <br>
   <input type="submit">
  </form>