<a href='/users/<%=session[:user_id]%>'>Home</a> 

<h1>Project data</h1>
*This grade is based on the average of comfort, passion, and deadline restraints, only you know how great your idea will become
<br>
<br>
Project Name: <%=@project.name%> 
<br>
Project Type: <%=@project.project_type%> 
<br>
 Project comfort rating: <%=@project.comfort%>/10 
<br>
Project passion rating <%=@project.passion%>/10 
<br>
You're this sure that you'll meet deadline with this project idea:<%=@project.deadline%>/10
<br>
<% if @project.rating.to_i == 0%>

<%else%>
You're overall project idea rating is <%=@project.rating%>/30

<%end%>
<br>
<% if @project.rating.to_i >= 27%> *Project idea Grade: A
<%elsif @project.rating.to_i >= 24%>  *Project idea Grade: B
<%elsif @project.rating.to_i >= 21%> *Project idea Grade: C
<%elsif @project.rating.to_i >= 18%>*Project idea Grade: D

<%else%>*Project idea Grade: F
<%end%>
<br>
Description: <%=@project.description%>
<br>
Project created on:  <%=@project.created_at%>
<br>
Project updated on: <%=@project.updated_at%>
<br>
<a href='/projects/<%=@project.id%>/edit'>Edit</a> 
<br>
<form action="/projects/<%=@project.id%>" method="POST">
<input id= "hidden" type="hidden" name="_method" value="DELETE"/>
  <input type = "submit" value="Delete">
  <br>
  <br>
  <a href='/projects'>Your projects</a>
  <br>
   <a href='/projects/new'>Create new Project </a>
  </form>
