<h1>Project data</h1>

<%=@project.name%> project
<br>
You're project idea comfort level is <%=@project.comfort%>/10 
<br>
You're project idea passion level is <%=@project.passion%>/10 
<br>
You're this sure that you'll meet deadline with this project idea.<%=@project.deadline%>/10
<br>
You're overall project idea rating is <%=@project.rating%>/30